@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');

:root {
    --Marine-blue: hsl(213, 96%, 18%);
    --Purplish-blue: hsl(243, 100%, 62%); 
    --Pastel-blue: hsl(228, 100%, 84%); 
    --Light-blue: hsl(206, 94%, 87%;);
    --Strawberry-red: hsl(354, 84%, 57%); 
    --Cool-gray: hsl(231, 11%, 63%); 
    --Light-gray: hsl(229, 24%, 87%) ;
    --Magnolia: hsl(217, 100%, 97%); 
    --Alabaster: hsl(231, 100%, 99%); 
    --White: hsl(0, 0%, 100%);
}

* {
    font-family: 'Ubuntu', sans-serif;
}

@media (max-width : 1024px) {
    body {
        background-color: var(--Magnolia)
    }

    .steps {
        display: flex;
        align-items: start;
        justify-content: center;
        height: 180px;
        background-image: url(../images/bg-sidebar-mobile.svg);
        background-size: cover;
    }

    .main_steps_step {
        margin-top: 30px;
    }

    .main_steps_step_number {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: 2px solid var(--White);
        margin: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .active_step {
        background-color: var(--Pastel-blue);
        border: none;
    }
    
    .active_step .main_steps_step_number-p {
        color: var(--Marine-blue);

    }

    .main_steps_step_number-p {
        color: var(--White);
        font-size: 20px;
        font-weight: 700;
    }

    .main_steps_step_content {
        display: none;
    }

    .main_forms {
        width: 100%;
        display: flex;
        justify-content: center ;
        align-items: center;
        flex-direction: column;
    }

    .main_forms_form {
        display: none;
    }

    .active_form {
        display: flex;
        flex-direction: column;
        background-color: var(--White);
        align-items: center;
        width: 90%;
        margin-top: -70px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        border-radius: 10px;
    }
    
    .main_forms_form_title {
        width: 90%;
        margin-bottom: 10px;
        margin-top: 30px;
    }

    .main_forms_form_title-h1 {
        font-size: 28px;
        line-height: 60px;
        font-weight: 700;
        color: var(--Marine-blue);
    }

    .main_forms_form_title-p {
        font-size: 18px;
        font-weight: 400;
        color: var(--Cool-gray);
        line-height: 25px;
    }

    .main_forms_form_inputs {
        width: 90%;
        margin-bottom: 30px;
    }

    .main_forms_form_inputs label {
        font-size: 14px;
        display: flex;
        margin: 20px 0px 10px 0px;
        justify-content: space-between;
        color: var(--Marine-blue);
    }

    .main_forms_form_inputs input {
        width: 97%;
        height: 40px;
        padding-left: 15px;
        border: 1px solid var(--Cool-gray);
        border-radius: 10px;
    }

    .main_forms_form_inputs input:focus{
        outline: none;
        border: 1px solid var(--Purplish-blue);
    }

    .requiredField, .invalidEmail{
        display: inline;
        color: var(--Strawberry-red);
    }

    .invisible{
        display: none !important;
    }

    .wrongInput {
        border : 1px solid var(--Strawberry-red)
    }

    .main_forms_buttons{
        position: absolute;
        bottom: 0;
        width: 100vw;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: var(--White);
        height: 80px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }

    .main_forms_form_plan {
        display: flex;
        flex-direction: column;
        width: 90%;
    } 

    .main_forms_form_plansSection_plan {
        margin: 20px 0px;
        border: 1px solid var(--Cool-gray);
        border-radius: 10px;
        display: flex;
        align-items: center;
        min-height: 80px;
        cursor: pointer;
    }

    .main_forms_form_plansSection_plan_image {
        margin: 0px 20px;
    }

    .main_forms_form_plansSection_plan_image img {
        width: 40px;
    }

    .main_forms_form_plansSection_plan_textContent-h2 {
        font-size: 18px;
        margin-bottom: 5px;
        font-weight: 700;
        color: var(--Marine-blue);
    }
    
    .main_forms_form_plansSection_plan_textContent-p {
        color: var(--Cool-gray);
        font-weight: 400;

    }

    .main_forms_form_plansSection_plan_textContent-p__year {
        display: none;
        color: var(--Cool-gray);
        font-weight: 400;
    }

    .active_plan {
        background-color: var(--Light-gray);
        border: 1px solid var(--Marine-blue);
    }
    
    .switch {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 30px;
        margin: 30px ;
    }

    /* Hide default HTML checkbox */
    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }

    /* The slider */
    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: var(--Marine-blue);
        -webkit-transition: .4s;
        transition: .4s;
    }

    .slider:before {
        position: absolute;
        content: "";
        height: 23px;
        width: 23px;
        left: 4px;
        bottom: 4px;
        background-color: var(--White);
        -webkit-transition: .4s;
        transition: .4s;
    }


    input:checked+.slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
    }

    .slider.round {
        border-radius: 34px;
    }

    .slider.round:before {
        border-radius: 50%;
    }
    
    .main_forms_form_plan_toogle {
        width: 90%;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .main_forms_form_plan_toogle span {
        color: var(--Cool-gray);
    }

    .selectedPlanSpan {
        color: var(--Marine-blue) !important;
    }

    .main_forms_form_addons {
        width: 90%;
    }

    .main_forms_form_addons_addon {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0px 10px;
        height: 70px;
        margin: 20px 0px;
        border: 1px solid var(--Cool-gray);
        border-radius: 10px;
    }

    .main_forms_form_addons_addon_left {
        display: flex;
    }

    .main_forms_form_addons_addon_left_checkBox {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 10px;
    }

    .main_forms_form_addons_addon_left_content-h3 {
        font-weight: 700;
        font-size: 17px;
        color: var(--Marine-blue);
    }
    
    .main_forms_form_addons_addon_left_content-p {
        font-weight: 400;
        font-size: 13px;
        color: var(--Cool-gray);
    }

    .main_forms_form_addons_addon_left_checkBox-checkbox {
        width: 25px;
        height: 25px;
    }

    .main_forms_form_addons_addon_right_price-p {
        color: var(--Purplish-blue);
    }

    .active_addon {
        border: 1px solid var(--Marine-blue);
        background-color: var(--Light-blue);
    }

    .main_forms_form_summary {
        width: 90%;
    }
    
    .main_forms_form_summary_review {
        background-color: var(--Light-gray);
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .main_forms_form_summary_review_plan {
        padding: 15px 0px;
        width: 90%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid var(--Cool-gray);
    }

    .main_forms_form_summary_review_plan h3 {
        color: var(--Marine-blue);
        font-weight: 700;
    }

    .main_forms_form_summary_review_plan_info p{
        color: var(--Marine-blue);
        font-weight: 700;
    }

    .main_forms_form_summary_review_onlineSevice, .main_forms_form_summary_review_storage {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 40px;
        width: 90%;
    }

    .main_forms_form_summary_review_onlineSevice p,
    .main_forms_form_summary_review_storage p {
        color: var(--Cool-gray);
    }



    .main_forms_form_summary_review_plan_info button{
        border: none;
        text-decoration: underline;
        background-color: transparent;
        color: var(--Cool-gray);
    }

    .main_forms_form_summary_total {
        width: 95%;
        display: flex;
        justify-content: space-between;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .main_forms_form_summary_total p{
        margin-left: 5%;
        color: var(--Cool-gray);
    }

    .main_forms_form_summary_total h2 {
        font-weight: 700;
        font-size: 17px;
        color: var(--Purplish-blue);
    }

    .main_forms_form_final {
        height: 400px;
        display: none;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .main_forms_form_final h1 {
        margin: 20px;
        font-size: 30px;
        font-weight: 700;
        color: var(--Marine-blue);
    }

    .main_forms_form_finall p {
        width: 90%;
        text-align: center;
        color: var(--Cool-gray);
        line-height: 25px;
    }

    .main_forms_buttons button {
        border: none;
        color: var(--White);
        background-color: var(--Marine-blue);
        margin: 0px 5vw;
        height: 40px;
        width: 100px;
        border-radius: 5px;
        cursor: pointer;
    }

    .main_forms_buttons-button__goBack{
        background-color: transparent !important;
        color: var(--Cool-gray) !important;
        border: none !important;
    }

}